<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlite:C:/Users/Administrator/IdeaProjects/J2EEDemo/db.sqlite</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="dialect">com.springhibernate.util.SQLiteDialect</property>
        <mapping resource="com/springhibernate/model/mapping/LoginMsgVO.hbm.xml"/>
        <mapping resource="com/springhibernate/model/mapping/PersonVO.hbm.xml"/>
        <mapping resource="com/springhibernate/model/mapping/ShopVO.hbm.xml"/>
        <mapping resource="com/springhibernate/model/mapping/UserVO.hbm.xml"/>
        <mapping resource="com/springhibernate/model/mapping/ArticleVO.hbm.xml"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>